.mfha{
    height: 70vh;
    width:100%;
    background: url('./img/img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
<<<<<<< HEAD
.abc{
    text-align: center;
    margin: auto;
    padding-top: 100px;
=======
.Button{
    width: 60%;
    font-size: 90%;
    color: blanchedalmond;
    margin: 0% 0% 0% 17%;
}
.abc{
    text-align: center;
    margin: auto;
    padding-top: 0px;
>>>>>>> 8656342 (12th commit)
    font-size: 232px;
}
.ab{
    text-decoration: none;
    background-color: rgb(106, 39, 214);
    color: antiquewhite;
    padding: 1% 2% 1% 2%;
    font-size: 20px;
    border-radius: 30% 0% 30% 0%;
    margin: 8% 0% 0% 1%;
    transition: 0.5s;
    }
        
.ab i {
    color: antiquewhite;
}
.ab:hover{   
    color: aliceblue;
    border-radius: 0% 30% 0% 30%;
}





.na{
    text-decoration: none;
    background-color: gold;       
    padding: 1% 2% 1% 2%;
    font-size: 20px;
    color: black;
    border-radius: 30% 0% 0% 0%;
    margin: 3% 0% 0% 1%;
    transition: 1s;
    display: inline-flex;
}
.na .ad{
    text-decoration:none; 
    color: #000;
}
.na:hover {
    background-color: rgb(0, 0, 0);
     
}

.na .ad:hover{
    color: gold;
}

.haf{
    text-decoration:none;
    font-size: 129%;
    display: inline-flex;
    height: auto;
    width: 103;
    background-color: #6F1E51;
    padding: 10px 7px 10px 7px;
    border-radius: 6px;
    margin-left: 10px;
    transition: 1s;
}
.haf .af{
    text-decoration:none;
    color: white;
}
    
.haf:hover{

    background-color: rgb(175, 191, 214);
}


.haf .af:hover{
    color: #6F1E51;
}



.sss{
    background-color: rgb(255, 0, 0);    
    display: inline-flex;
    padding: 10px 10px 10px 10px;
    border-radius: 22px 22px 22px 0px;
    transition: 1s;
    margin: 10px;
}
.sas{

    text-decoration: none;
    color: black; 
}


.sss:hover{
    background-color: black;
    border-radius: 22px 0px 22px 22px;
}
.sss .sas:hover{
    color: red;

}
.wer{
    display: inline-flex;
    margin: 10px;
    background-color: #57606f;
    padding: 12px 10px 12px 10px;
    border-radius: 12px;
}
.rew{
    color: azure;
    text-decoration: none;
}
.wer:hover{
    background-color: #455c85;
}
.pop{
    display: inline;
    background: deepskyblue;
    padding: 1% 1% 1% 1%;
    border-radius: 1% 35% 1% 35%;
    box-shadow: 1px 1px 8px 7px #818870;
    margin: 10px;
    transition: 0.7s;
}
.po{
    text-decoration: none;
    color: #000000;
    font-size: 23px
}


.pop:hover{
    background-color: #455c85;
    color: white;
}
.po:hover{
    color: #fff;
}


.lkj{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: aqua;
    display: inline-flex;
    margin: 10px;
    box-shadow: 1px 0px 10px 6px #57606f;
}

.kji{
    text-decoration: none;
    font-size: 28px;
    color: #000000;
    padding: 22px 0px 0px 7px;
    text-shadow: 1px 3px 3px black;
}



.camera{
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #6F1E51;

}

.uy{
    padding: 9px 2px 0px 10Px;
    font-size: 30px;
    color: burlywood
}


.green{
    background-color: green;
    width: 500px;
    height: 250px;
}

.red{
    background-color: red;
    width: 40%;
    height: 80%;
    border-radius: 60%;
    display: flex;
    position: relative;
    left: 30%;
    top: 10%;
}
.io{
    width: 74%;
    height: 77%;
    margin: 25px 0px 0px 19px;
}
